/Ev1Prueba2/nbproject/private/
/Ev1Prueba2/build/
/Ev1Prueba2.20.Letura/nbproject/private/
/Ev1Prueba2.20.Letura/build/
/FicherosSAX-2.Andrea/nbproject/private/
/Examen1718/nbproject/private/
/AuxiliarExamen1718/nbproject/private/
/AuxiliarExamen1718/build/
/Examen1718/build/
/Examen1920/nbproject/private/
/Examen1920/build/
/RepasoXstream/nbproject/private/
/RepasoXstream/build/
/RepasoSAX/nbproject/private/
/Examen2021/nbproject/private/
/Examen2021/build/
/Examen2021xStream/nbproject/private/
/Examen2021xStream/build/